extends ../layout

block content
    div.container
        link(href='http://cdn.staticfile.org/video.js/6.0.0/video-js.min.css', rel='stylesheet')
        script(src='http://cdn.staticfile.org/video.js/6.0.0/video.min.js')
        script(src='https://unpkg.com/mqtt/dist/mqtt.min.js')
        script(type='text/javascript')
            var client = mqtt.connect("ws://" + window.location.host + ":8898/", {
                username: '#{device.devid}',
                password: '12345678'
            });
            client.subscribe("/devices/" + '#{device.devid}' + '/#');
            client.on("message", function (topic, payload){
                alert([topic, payload].join(": "));
                //client.end();
            });
        h2 #{title}
        div.player
            video(id="my-player", class="video-js", controls, preload="auto", autoplay, width="640", height="360", data-setup={})
                source(src="rtmp://218.107.52.44:1935/device_1/live_2_1", type="rtmp/flv")

        div(class="form-group")
            label(from="Play") Play
            input(type='text', name='Play', id='inputPlay', class='form-control')
            input(type='button', id='btnPlay', value='Play', class='btn btn-primary')
        
        div(class="form-group")
            label(from="Message") Message
            input(type='button', id="btnMessage", value="Message", class="btn btn-primary")
            br
            textarea(id='mqttMsg', class="form-group")