extends ../layout
block content
  div.container
    div(class='panel panel-default')
      div(class='panel-heading')
        h3 #{title}
      div(class="panel-body")
        table(class="table")
          thead
            tr
              th Device ID
              th Ower
              th Online
          tbody
            for dev in devices
              tr
                td #{dev.devid}
                td #{dev.ower}
                td #{dev.online}
        br
        a(href="/devices/create", class="btn btn-primary", role="button") create